
header{
		background-image: url(../images/banner_index.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		margin-right: auto;
		margin-left: auto;

}

.navbar-default{
	border: 0;
	border-bottom: 1px solid #6E6E6E;
	padding: 8px 20px;
	height: 40px;
	width: 100%;
	float: left;
}

div, h1 {
  padding: 94px 150px 0px 150px;
}

h1{
	text-align: center;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
	margin-left: -3px;
	line-height: 1;
	letter-spacing: -0.04em;
}

hr{
	max-width: 100px;
	border-color: #f05f40;
	border-width: 3px;
	border: 0;
	border-top: 3px solid #f05f40;
	height: 0;
	box-sizing: content-box;
	margin-left: 50%;
	margin: 23px auto;
}

h2 {
	text-align: center;
	font-weight: 400;
	font-style: normal;
	font-size: 27px;
	line-height: 1;
	letter-spacing: -0.04em;
	margin-top: 30px;
	padding: 0px 0px 209px;
}


h3{
	text-align: center;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
	margin-left: -3px;
	line-height: 1;
	letter-spacing: -0.04em;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #282828;
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 1.5;
  }
